button {
    padding: var(--padding-small) var(--padding-medium);
    border: 1px solid var(--border-color);
    background-color: var(--background-card);
    border-radius: var(--radius-small);
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

button:hover {
    box-shadow: var(--shadow-small);
}

button:focus {
    outline: 1px solid var(--color-primary);
}

button:disabled {
    opacity: 0.5;
    cursor: default;
}


input {
    padding: var(--padding-small) var(--padding-medium);
    border: 1px solid var(--border-color);
    border-radius: var(--radius-small);
    transition: border-color 0.2s ease;
    width: 100%;
    max-width: 200px;
    display: inline;
}

input:focus {
    outline: 1px solid var(--color-primary);
}

